fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
supabase
python-jose[cryptography]
pillow
numpy
httpx
python-dotenv
ultralytics
timm
h5py
matplotlib
yacs
flask
flask-cors
huggingface_hub
opencv-python-headless
